:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}


body {
  background-color: hsl(218, 28%, 13%);
  font size:14px;
  text-align: center;
  color:hsl(0,0%,100%);
  
}

.navbar{
    display: flex;
}

.nav-links{
    margin-left: auto;
}

.nav-links ul{
    display: flex;
    
    
}


.nav-list{
    margin-left: 0.5em;
    list-style: none;
    
}


.nav-list > a{
     text-decoration: none;
    display: block;
    padding: .3em .75em;
    color:white;
}
.calltoaction{
    text-align:center;
    margin-bottom:4em;
}
.text-align{
    text-align:center;
}
#button{
    background-color:hsl(176,68%,64%);
    text-align:center;
    color:white;
    font-size:14px;
    border-radius:20px;
    padding-left:50px;
    padding-bottom:10px;
    padding-top:10px;
    padding-right:50px;
    
}

.box1{
    width:100%;
    display:flex;
    
}

.box {
    flex:1;
  width: 200px;
  height: 200px;
  margin: 20px;


}
@media screen and (max-width: 768px) {
    .box1 {
        flex-direction:column;
        justify-content:center;
        
        
    }
    .box{
        flex:1;
        margin:0 auto;
    }
    
}




.section{
    display:flex;
    
    
    
}
.section-info{
    margin:0 auto;
    display:flex;
    align-content:left;
    flex-direction:column;
    padding:0.5em;
}

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}
.fylo {
    flex-wrap: nowrap;
    flex: 20%;
    margin-right: 20px;
    padding: 15px;
    background-color:hsl(219,30%, 18%);
    color: white;
    font-size: 14px;
    border-radius: 5px;
}
.img-box{
    display:flex;
    
    
}

.img-view {
    border-radius: 80px;
    width: 100px;
    
}
span.img-text {
    position: relative;
    text-align:center;
    align-items:center;
    justify-content:content;
    
    
}



@media screen and (max-width: 768px) {
    .fylo {
        flex: 100%;
        margin-bottom: 15px;
    }
    span.img-text {
        top: auto;
        margin-top: 50px;
        
    }
}






.newsletter{
  background-color: hsl(218, 28%, 13%); }
  
button {
  cursor: pointer;}

#button {
  border-radius: 40px; 
  height: 40px;  
  background-color: aqua;}

#mail {
  border-radius: 40px;
   height: 40px; 
   width: 40%;}

h4 {
  color: hsl(0, 0%, 100%);
   font-size: 20px; 
   font-family: raleway;  
   text-align: justify;}

p {
  font-size: 14px; 
  color: hsl(0, 0%, 100%); 
  font-family: Open Sans; 
  text-align: justify;}

.last-scetion{
    display:flex; 
    color:hsl(216, 53%, 9%); 
    font-size: 14px;
    text-align: justify;
    }

a {
  display:flex; 
  flex-direction: row;
  color: hsl(0, 0%, 100%); 
  font-size: 14px;}

a:hover {color:blue; }

.end{
   display:flex;
   margin:0 auto;
}
.icon{
    position:relative;

}